@media (max-width:1200px) /*Sidebar icon + text underneath*/
{
  .Sidebar
  {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 50px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 8px;
  }

  .sidebar-link
  {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .sidebar-text
  {
    font-size: 10px;
  }
}

@media (min-width:1200.1px) /*Sidebar icon + text expanded*/
{
  .Sidebar
  {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 50px;
    background-color: white;
    width: 154px;
    z-index: 200;
    padding-top: 8px;
  }

  .sidebar-link
  {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    cursor: pointer;
  }

  .sidebar-link img
  {
    height: 24px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .sidebar-text
  {
    font-size: 12px;
  }
}

.sidebar-link:hover
{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img
{
  height: 24px;
  margin-bottom: 5px;
}