.video-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/*Adjusting video's to screen size*/

@media (max-width:750px)
{
  .video-grid
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:751px) and (max-width:999px)
{
  .video-grid
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1000px)
{
  .video-grid
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*-------------------------------------------------------*/

.thumbnail-row
{
  position: relative;
  margin-bottom: 8px;
}
.thumbnail
{
  width: 100%;
  border-radius: 8px;
}
.video-info-grid
{
  display: grid;
  grid-template-columns: 47px 1fr;
}
.profile-picture
{
  width: 36px;
  border-radius: 180px;
}
.video-title
{
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
.video-author, .video-stats
{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author
{
  margin-bottom: 4px;
}
.video-time
{
  background-color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
  color:white;
  position: absolute;
  bottom: 12px;
  right: 5px;
  padding:4px;
  border-radius: 5px;
}

.expanded-profile-pic
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 17px 6px 10px; /*top , right , bottom , left */

  top: 30px;
  left: 35px;
  opacity: 0;
  transition: opacity 0.7;
  pointer-events: none;
}

.container:hover .expanded-profile-pic
{
  opacity: 1;
}

.expanded-profile-pic img
{
  width: 50px;
}

.creator-logo
{
  margin-right: 7px;
}

.creator-name
{
  font-size: 15px;
  font-weight: bold;
}

.creator-subs
{
  font-size: 13px;
  color: gray;
  margin-top: 3px;
}

.container
{
  position: relative;
  display: flex;
  white-space: nowrap;
}